@model Depressed.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/ProfileShare.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="input-block">
        @Html.LabelFor(m => m.OldPassword, new { @class = "form-control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
    <div class="input-block">
        @Html.LabelFor(m => m.Password, new { @class = "form-control-label" })
        <div class="pass-group" id="passwordInput">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control pass-input" })
        </div>
        <div class="password-strength" id="passwordStrength">
            <span id="poor"></span>
            <span id="weak"></span>
            <span id="strong"></span>
            <span id="heavy"></span>
        </div>
        <div id="passwordInfo"></div>
    </div>
    <div class="input-block">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

    </div>
    <div class="update-profile save-password">
        <button type="submit" class="btn btn-primary">Save Password</button>
    </div>
}