@using Microsoft.AspNet.Identity
@model Depressed.Models.ClassDetailViewModel
@{
    ViewBag.Title = "Class Details";
    Layout = "~/Views/Shared/Separated.cshtml";
}
<section class="page-content course-sec p-5">
    <div class="container">
        @Html.ActionLink("Back to Classes", "Lophoc", "Teacher",routeValues:new { UserId = User.Identity.GetUserId()},htmlAttributes: new { title = "Back"})
        <div>
            <p>Class name: @Model.Lophoc.class_name</p>
            <p>Class Description: @Model.Lophoc.content</p>
            @if (Model.Lichhocs.Any())
            {
                <ul class="list-unstyled">
                    <li>Class Schedule</li>
                    @foreach (var lichhoc in Model.Lichhocs)
                    {
                        <li>@lichhoc.Ngayhoc1.Value.ToString("dd/MM/yyyy") - @lichhoc.Tiet_1</li>
                        <li>@lichhoc.Ngayhoc2.Value.ToString("dd/MM/yyyy") - @lichhoc.Tiet_2</li>
                        <li>@lichhoc.Ngayhoc3.Value.ToString("dd/MM/yyyy") - @lichhoc.Tiet_3</li>
                    }
                </ul>
            }
            else
            {
                <p>This class does not have schedule. @Html.ActionLink("Click here to add schedule", "Schedule", "Teacher", routeValues: new { id = Model.Lophoc.class_id }, htmlAttributes: new { title = "Add Schedule" })</p>
            }

        </div>
        <ul class="list-unstyled">
            @foreach (var member in Model.ClassMembers)
            {
                <li>@member.ApplicationUser.UserName</li>
            }
        </ul>
        @Html.ActionLink("Update your class", "Edit_Lophoc","Teacher",routeValues:new {id = Model.Lophoc.class_id},htmlAttributes:new {title = "Update"})
    </div>
</section>
