@model Depressed.Models.Lichhoc
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/Separated.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.Hidden("ClassId", @Model.lophoc_id)
    <div>
        @Html.LabelFor(m => m.Ngayhoc1, htmlAttributes: new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Ngayhoc1, htmlAttributes: new { @class = "form-control", type = "date" })
    </div>
    <div>
        @Html.LabelFor(m => m.Tiet_1, htmlAttributes: new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Tiet_1, htmlAttributes: new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Ngayhoc2, htmlAttributes: new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Ngayhoc2, htmlAttributes: new { @class = "form-control", type = "date" })
    </div>
    <div>
        @Html.LabelFor(m => m.Tiet_2, htmlAttributes: new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Tiet_2, htmlAttributes: new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Ngayhoc3, htmlAttributes: new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Ngayhoc3, htmlAttributes: new { @class = "form-control", type = "date" })
    </div>
    <div>
        @Html.LabelFor(m => m.Tiet_3, htmlAttributes: new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Tiet_3, htmlAttributes: new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" value="Update Schedule" />
    </div>
}
